.jobCard {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
    border: var(--lightBorderWeight) solid var(--borderGray);
}

.logo {
    align-self: flex-start;
    border: var(--lightBorderWeight) solid var(--borderGray);
    width: 40px;
    height: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.apply {
    align-self: flex-end;
    background-color: var(--primary);
    color: var(--backgroundGreen);
    border:none;
    border-radius: 999px;
    padding: 8px 16px;
    white-space: nowrap;
    cursor: pointer;
}