.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: start;
    width: fit-content;
}

.contactInfo > div {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--mainTextGray);
    font-size: var(--mainText);
}

.contactInfo img {
    width: 23px;
    height: 23px;
}
