.quickFilters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.headerIcon path {
  width: 30px;
  height: 30px;
  fill: none;
  stroke: var(--color-primary);
}

.groupsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.optionsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.checkboxInput {
  width: 18px;
  height: 18px;

  accent-color: var(--color-primary);
  cursor: pointer;
}
