.perk {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.iconCircle {
  display: grid;
  place-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  background-color: var(--color-background-accent);
  width: 60px;
  height: 60px;
}

.perkLogo {
  width: 40px;
  height: 40px;
  color: var(--color-primary);
}

.perkDescription {
  width: min-content;
  color: var(--color-text-body);
  font-size: var(--font-size-body);
  font-weight: 700;
}
