.additionalInfo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

    border: var(--lightBorderWeight) solid var(--borderGray);
    border-radius: 8px;
}

.heading {
    font-size: var(--heading2);
    color: var(--headerColor);
}

.text {
    font-size: var(--mainText);
    color: var(--mainTextGray);
}
