.aboutMeBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 16px;

  border: 3px solid var(--borderGray);
  border-radius: 5px;
}

.aboutMeHeading {
  margin-bottom: 14px;
  font-size: var(--heading2);
}

.aboutMeInfo {
  margin-bottom: 14px;
  color: var(--mainTextGray);
  font-size: var(--mainText);
}

.editButtonWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.editButton {
  display: flex;
  padding: 6px 0;
  width: 90%;
  justify-content: center;
  gap: 5px;

  border: none;
  background-color: var(--primary);
  color: var(--mainBackground);
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  opacity: 0.8;
}
