.achievements {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 20px;
  padding: 15px 20px;
  width: 90%;

  border: 3px solid var(--color-border);
  border-radius: 5px;
}

.achievements::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 80%;
  height: 2px;

  background: var(--color-border);
}

.appliedJobs_imageBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.section {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.jobSection {
  composes: section;
}

.jobSection::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 3px;
  height: 100%;

  background: var(--color-border);
}

.jobSection_leftPart {
  flex: 1;
}

.jobSection_rightPart {
  display: flex;
  flex: 1;
}
.savedJobs {
  margin-left: 20px;
}
.reachouts {
  margin-left: 20px;
}

.contactItem {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
}

.appliedJobs_contactItem {
  composes: contactItem;
}

.savedJobs_contactItem {
  composes: contactItem;
}

.personalSection {
  composes: section;
}

.personalSection::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 100%;

  background: var(--color-border);

  left: 50%;
}

.curriculumViews_contactItem {
  composes: contactItem;
}

.reachouts_contactItem {
  composes: contactItem;
}

.bagLogo path,
.starLogo path,
.paperLogo path,
.envelopeLogo path {
  stroke: var(--color-primary);
}
