.profileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  width: clamp(200px, 35vw, 360px);
  padding: 15px 20px;

  border: 5px solid var(--borderGray);
  border-radius: 10px;
}

.photoBox {
  text-align: center;
}

.profileLogo {
  border: 4px solid var(--primary);
  border-radius: 100px;
  width: clamp(100px, 15vw, 150px);
}

.profileName {
  margin-top: 12px;
  font-size: var(--heading2);
}
