.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px;
  border: var(--border-weight-heavy) solid var(--color-border);
  border-radius: 5px;
}

.social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
  border-top: 1px solid var(--color-border);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.socialList {
  display: flex;
  align-items: center;
  gap: 32px;
}

.socialIcon {
  width: 30px;
  height: 30px;
  color: var(--color-primary);
}
