:root {
  --color-primary: #26bba4;
  --color-secondary: #52dbc7;

  --color-background: #fafafa;
  --color-background-accent: #ebf9f7;
  --color-background-header: #eeeeee;

  --color-border: #e7eaf0;

  --color-text-body: #535e76;
  --color-text-muted: #bac0cc;
  --color-text-heading: #000000;

  --font-size-heading-1: 32px;
  --font-size-heading-2: 24px;
  --font-size-body: 15px;
  --font-size-comment: 12px;

  --border-weight-light: 3px;
  --border-weight-heavy: 5px;


  /* --{What?}-{Where?}-{Which?} */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora";
}

body {
  margin-top: 152px;
}
