:root {
  --primary: #26bba4;
  --secondary: #52dbc7;
  --backgroundGreen: #ebf9f7;
  --borderGray: #e7eaf0;
  --mainBackground: #fafafa;
  --mainTextGray: #535e76;
  --headerColor: #000000;
  --lighText: #bac0cc;
  --headerBackground: #eeeeee;

  --heading1: 32px;
  --heading2: 24px;
  --mainText: 15px;
  --mainComments: 12px;

  --heavyBorderWeight: 5px;
  --lightBorderWeight: 3px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora";
}

body {
  margin-top: 152px;
}
