.quickFilters {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerIcon {
    width: 30px;
    height: 30px;
}

.headerTitle {
    font-size: var(--heading2);
    font-weight: 700;
}

.groupsList {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.groupTitle {
    font-size: var(--mainText);
    font-weight: 700;
}

.optionsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--mainTextGray);
    font-size: var(--mainText);
    cursor: pointer;
}

.checkboxInput {
    width: 18px;
    height: 18px;

    accent-color: var(--primary);
    cursor: pointer;
}
