.sortBy {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.headerIcon {
    width: 30px;
    height: 30px;
}

.headerTitle {
    font-size: var(--header2);
    font-weight: 700;
}

.optionsList {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.option {
    display: flex;
    align-items: center;
    gap: 10px;

    color: var(--mainTextGray);
    font-size: var(--mainText);
    cursor: pointer;
}

.radioInput {
    appearance: none;
    -webkit-appearance: none;

    width: 18px;
    height: 18px;

    border: 2px solid var(--mainTextGray);
    border-radius: 50%;

    cursor: pointer;

    display: grid;
    place-content: center;
}

.radioInput::before {
    content: "";

    width: 10px;
    height: 10px;

    border-radius: 50%;
    background-color: var(--primary);

    transform: scale(0);
}

.radioInput:checked::before {
    transform: scale(1);
}
