.Notifications {
  z-index: 1000;
  position: fixed;
  top: 120px;
  right: 20px;
  width: clamp(200px, 40vw, 400px);
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  background-color: var(--color-background);
  border: var(--border-weight-light) solid var(--color-border);
  border-radius: 8px;
  box-shadow: 0 0px 20px var(--color-text-muted);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--color-border);
}

.headerTitle {
  font-size: var(--font-size-heading-2);
  font-weight: 700;
}

.markAllButton {
  padding: 0;

  border: none;
  background: none;
  color: var(--color-primary);
  font-size: var(--font-size-body);
  cursor: pointer;
}

.markAllButton:hover {
  opacity: 0.8;
}

.cardsList {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.viewAllButton {
  display: flex;
  align-items: center;
  gap: 6px;

  border: none;
  background: none;
  color: var(--color-primary);
  font-weight: 600;
  font-size: var(--font-size-body);
  cursor: pointer;
}

.viewAllButton:hover {
  opacity: 0.8;
}

.arrow {
  font-weight: 700;
}
