.CompanyProfilePage {
  display: grid;
  grid-template-columns: 62fr 38fr;
  gap: 25px;
  align-items: start;
  padding: 15px 10px;
  background-color: var(--color-background);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
