.RecommandCard {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: clamp(350px, 60vw, 773px);
  height: 100vh;
  padding: 20px 15px;

  border: 5px solid var(--color-border);
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  gap: 13px;
}

.headerIcon path {
  width: 32px;
  height: 32px;
  stroke: var(--color-primary);
}

.headerTitle {
  font-size: clamp(20px, 2.5vw, 28px);
  font-weight: 700;
  font-size: var(--font-size-heading-1);
}

.jobsList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow: scroll;
  scrollbar-width: none;
}
